In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model  import Ridge,Lasso,RidgeCV, LassoCV, ElasticNet, ElasticNetCV, LogisticRegression, LinearRegression

In [187]:
df=pd.read_csv('Algerian_forest_fires_dataset_UPDATE.csv',skiprows=1)

In [188]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [189]:
from pandas_profiling import ProfileReport

In [190]:
df.describe().T

            count unique      top freq
day           246     33       01    8
month         245      5       07   62
year          245      2     2012  244
Temperature   245     20       35   29
 RH           245     63       64   10
 Ws           245     19       14   43
Rain          245     40        0  133
FFMC          245    174     88.9    8
DMC           245    167      7.9    5
DC            245    199        8    5
ISI           245    107      1.1    8
BUI           245    175        3    5
FWI           245    128      0.4   12
Classes       244      9  fire     131

In [191]:
df.isnull().sum()

day            0
month          1
year           1
Temperature    1
 RH            1
 Ws            1
Rain           1
FFMC           1
DMC            1
DC             1
ISI            1
BUI            1
FWI            1
Classes        2
dtype: int64

In [192]:
np.where(df['day']=='day')

(array([123], dtype=int64),)

In [193]:
df.drop(df.index[[122,123,165]],inplace=True)

In [194]:
df['day'].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31'], dtype=object)

### Dropping the NaN value rows

In [195]:
df.dropna(inplace=True)

In [196]:
df.isnull().sum()

day            0
month          0
year           0
Temperature    0
 RH            0
 Ws            0
Rain           0
FFMC           0
DMC            0
DC             0
ISI            0
BUI            0
FWI            0
Classes        0
dtype: int64

In [197]:
df.drop(columns=['Classes  '],inplace=True)

In [198]:
df.head()

  day month  year Temperature  RH  Ws Rain   FFMC  DMC    DC  ISI  BUI  FWI
0  01    06  2012          29  57  18     0  65.7  3.4   7.6  1.3  3.4  0.5
1  02    06  2012          29  61  13   1.3  64.4  4.1   7.6    1  3.9  0.4
2  03    06  2012          26  82  22  13.1  47.1  2.5   7.1  0.3  2.7  0.1
3  04    06  2012          25  89  13   2.5  28.6  1.3   6.9    0  1.7    0
4  05    06  2012          27  77  16     0  64.8    3  14.2  1.2  3.9  0.5

In [199]:
y=df['Temperature']

In [200]:
y

0      29
1      29
2      26
3      25
4      27
       ..
241    30
242    28
243    27
244    24
245    24
Name: Temperature, Length: 242, dtype: object

In [201]:
x=df.drop(columns=['Temperature'])

In [202]:
lin_reg=LinearRegression()

In [203]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x , y , test_size = .20)

In [204]:
lin_reg.fit(x_train,y_train)

LinearRegression()

In [205]:
lin_reg.score(x_test,y_test)

0.5393311745603326

In [206]:
x_test

    day month  year  RH  Ws Rain   FFMC   DMC     DC   ISI   BUI   FWI
140  17    06  2012  69  17   4.7  62.2   3.9      8   1.1   3.8   0.4
148  25    06  2012  70  16     0    86  12.8   25.6   5.4  12.7   6.7
111  20    09  2012  84  18     0  83.8  13.5   49.3   4.5    16   6.3
51   22    07  2012  79  18   0.1  73.4  16.4   79.9   1.8  21.7   2.8
240  25    09  2012  70  15     0  79.9  13.8   36.1   2.4  14.1     3
174  21    07  2012  29  18     0  93.9  39.6   80.6  18.5  39.5    30
17   18    06  2012  78  14   0.3  56.9   1.9      8   0.7   2.4   0.2
215  31    08  2012  59  19     0  89.1  27.8  168.2   9.8  39.3  19.4
161  08    07  2012  47  18     6  80.8   9.8    9.7   3.1   9.4     3
66   06    08  2012  75  14     0  86.4    13   39.1   5.2  14.2   6.8
105  14    09  2012  76  26   8.3  47.4   1.1      7   0.4   1.6   0.1
104  13    09  2012  86  21   4.6  40.9   1.3    7.5   0.1   1.8     0
71   11    08  2012  63  13     0  88.9  21.7     77   7.1  25.5  12.1
21   22    06  2012  67  17   0.1  79.1     7   39.5   2.4   9.7   2.3
229  14    09  2012  81  15     0  84.6  12.6   41.5   4.3  14.3   5.7
27   28    06  2012  55  14     0  89.1  25.5   88.5   7.6  29.7  13.9
137  14    06  2012  79  16   0.7  53.4   6.4    7.3   0.5   6.1   0.3
208  24    08  2012  38  15     0  92.1  51.3  147.7  12.2  54.9  26.9
3    04    06  2012  89  13   2.5  28.6   1.3    6.9     0   1.7     0
202  18    08  2012  37  14     0  94.3  35.9   86.8    16  35.9  26.3
25   26    06  2012  64  18     0  86.8  17.8   71.8   6.7  21.6  10.6
191  07    08  2012  63  13   2.9  69.7   7.2    9.8   1.2   6.9   0.6
86   26    08  2012  78  18     0  85.8  45.6  190.6   4.7  57.1  13.7
142  19    06  2012  67  14   4.5  64.6   4.4    8.2     1   4.2   0.4
177  24    07  2012  63  17   1.1  72.8  20.9   56.6   1.6  21.7   2.5
127  04    06  2012  64  14     0  79.4   5.2   15.4   2.2   5.6     1
233  18    09  2012  33  13   0.1  90.6  25.8   77.8     9  28.2  15.4
24   25    06  2012  64  15     0  86.7  14.2   63.8   5.7  18.3   8.4
48   19    07  2012  59  17     0  88.1    12   52.8   7.7  18.2  10.9
57   28    07  2012  76  15     0  86.5  24.4  117.8   5.6  32.1  11.3
189  05    08  2012  42  17   0.1  88.3  23.6   52.5    19  23.5  12.6
179  26    07  2012  58  10   0.2  78.3  10.8   19.7   1.6  10.7     1
81   21    08  2012  58  19     0  88.6  29.6  141.1   9.2  38.8  18.4
234  19    09  2012  41   8   0.1  83.9  24.9     86   2.7  28.9   5.6
118  27    09  2012  66  11     0  85.7   8.3   24.9     4     9   4.1
199  15    08  2012  46  13   0.3  83.9  16.9   54.2   3.5    19   5.5
153  30    06  2012  42  15   1.7  79.7    12    8.5   2.2  11.5   2.2
60   31    07  2012  64  17     0  87.2  31.9  145.7   6.8  41.2  15.7
116  25    09  2012  81  21   5.8  48.6     3    7.7   0.4     3   0.1
42   13    07  2012  81  15     0  81.8   9.7   37.2     3  11.7   3.4
206  22    08  2012  53  14     0  89.5  41.1  127.5     8  45.5  18.1
201  17    08  2012  24   9     0    96  30.3   76.4  15.7  30.4    24
176  23    07  2012  71  17     0  87.3  46.6     99   6.9  46.5  16.3
133  10    06  2012  41  15     0  89.4  13.3   22.5   8.4  13.1    10
41   12    07  2012  75  13   0.1  75.1   7.9   27.7   1.5   9.2   0.9
147  24    06  2012  68  16     0  85.3    10     17   4.9   9.9   5.3
203  19    08  2012  66  15   0.1  82.7  32.7   96.8   3.3  35.5   7.7
63   03    08  2012  63  14   0.3  76.6   5.7     10   1.7   5.5   0.8
97   06    09  2012  74  19   0.1  75.8   3.6   32.2   2.1   5.6   0.9

In [207]:
df.drop(columns=['day','month','year'],inplace=True)

In [208]:
x=df.drop(columns=['Temperature'])

In [209]:
x

     RH  Ws Rain   FFMC  DMC    DC  ISI   BUI  FWI
0    57  18     0  65.7  3.4   7.6  1.3   3.4  0.5
1    61  13   1.3  64.4  4.1   7.6    1   3.9  0.4
2    82  22  13.1  47.1  2.5   7.1  0.3   2.7  0.1
3    89  13   2.5  28.6  1.3   6.9    0   1.7    0
4    77  16     0  64.8    3  14.2  1.2   3.9  0.5
..   ..  ..   ...   ...  ...   ...  ...   ...  ...
241  65  14     0  85.4   16  44.5  4.5  16.9  6.5
242  87  15   4.4  41.1  6.5     8  0.1   6.2    0
243  87  29   0.5  45.9  3.5   7.9  0.4   3.4  0.2
244  54  18   0.1  79.7  4.3  15.2  1.7   5.1  0.7
245  64  15   0.2  67.3  3.8  16.5  1.2   4.8  0.5

[242 rows x 9 columns]

In [210]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x , y , test_size = .20)

In [211]:
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.fit_transform(x_test)

In [214]:
lin_reg.fit(x_train,y_train)

LinearRegression()

In [215]:
lin_reg.score(x_test,y_test)

0.5355480371036869

In [212]:
lin_reg.fit(x_train_scaled,y_train)

LinearRegression()

In [213]:
lin_reg.score(x_test_scaled,y_test)

0.4616439463480905

In [93]:
from sklearn.linear_model import Ridge
ridge=Ridge()

In [94]:
ridge.fit(x_train,y_train)

Ridge()

In [96]:
ridge.score(x_test,y_test)

0.505425014978858

In [97]:
from sklearn.linear_model import Ridge,Lasso,RidgeCV,LassoCV,ElasticNet, ElasticNetCV, LinearRegression

In [98]:
lassocv=LassoCV(cv=10, max_iter=2000000, normalize=True)
lassocv.fit(x_train,y_train)

C:\Users\Prashant\anaconda3\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Lasso())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  warnings.warn(

LassoCV(cv=10, max_iter=2000000, normalize=True)

In [99]:
lassocv.alpha_

0.005499686110808984

In [100]:
lasso=Lasso(alpha=lassocv.alpha_)
lasso.fit(x_train,y_train)

Lasso(alpha=0.005499686110808984)

In [101]:
lasso.score(x_test,y_test)

0.5041750505234064

In [104]:
elastic_lr=ElasticNet(alpha=lassocv.alpha_,l1_ratio=0.5)

In [105]:
elastic_lr.fit(x_train,y_train)

C:\Users\Prashant\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.174e+01, tolerance: 2.460e-01
  model = cd_fast.enet_coordinate_descent(

ElasticNet(alpha=0.005499686110808984)

In [106]:
elastic_lr.score(x_test,y_test)

0.5043774192547532

# Using Logistic Regression

In [149]:
df=pd.read_csv('Algerian_forest_fires_dataset_UPDATE.csv',skiprows=1)

In [150]:
df.iloc[121:126]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
121,30,09,2012,25,78,14,1.4,45,1.9,7.5,0.2,2.4,0.1,not fire
122,Sidi-Bel Abbes Region Dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
124,01,06,2012,32,71,12,0.7,57.1,2.5,8.2,0.6,2.8,0.2,not fire
125,02,06,2012,30,73,13,4,55.7,2.7,7.8,0.6,2.9,0.2,not fire

In [151]:
df.drop(df.index[[122,123]],inplace=True)

In [152]:
np.where(df['day']=='day')

(array([], dtype=int64),)

In [153]:
np.where(df['DC']=='14.6 9')

(array([165], dtype=int64),)

In [154]:
df.drop(df.index[[165]],inplace=True)

In [155]:
df['day'].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31'], dtype=object)

In [156]:
x=df.drop(columns=['day','month','year','Classes  '])

In [157]:
x

    Temperature  RH  Ws Rain   FFMC  DMC    DC  ISI   BUI  FWI
0            29  57  18     0  65.7  3.4   7.6  1.3   3.4  0.5
1            29  61  13   1.3  64.4  4.1   7.6    1   3.9  0.4
2            26  82  22  13.1  47.1  2.5   7.1  0.3   2.7  0.1
3            25  89  13   2.5  28.6  1.3   6.9    0   1.7    0
4            27  77  16     0  64.8    3  14.2  1.2   3.9  0.5
..          ...  ..  ..   ...   ...  ...   ...  ...   ...  ...
241          30  65  14     0  85.4   16  44.5  4.5  16.9  6.5
242          28  87  15   4.4  41.1  6.5     8  0.1   6.2    0
243          27  87  29   0.5  45.9  3.5   7.9  0.4   3.4  0.2
244          24  54  18   0.1  79.7  4.3  15.2  1.7   5.1  0.7
245          24  64  15   0.2  67.3  3.8  16.5  1.2   4.8  0.5

[243 rows x 10 columns]

In [158]:
y=df['Classes  ']

In [159]:
y

0       not fire
1       not fire
2       not fire
3       not fire
4       not fire
           ...
241         fire
242     not fire
243     not fire
244     not fire
245    not fire
Name: Classes  , Length: 243, dtype: object

In [160]:
log_reg=LogisticRegression()

In [161]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x , y , test_size = .20)

In [162]:
scaler=StandardScaler()

In [163]:
x_train_scaled=scaler.fit_transform(x_train)

In [164]:
log_reg.fit(x_train_scaled,y_train)

LogisticRegression()

In [166]:
x_test_scaled=scaler.fit_transform(x_test)

In [168]:
log_reg.score(x_test_scaled,y_test)

0.9387755102040817

## Using Logistic Regression, Accuracy is 94%